.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.card-image {
  max-width: 200px;
  height: auto;
}
.card-container {
  padding: 10px;
  justify-content: space-between;
  margin-top: 1rem;
}
.card-style {
  padding: 1rem;
  margin-top: 1.5rem;
}
